*{ 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

body { 
    background-color: cornflowerblue; 
    background-size: cover; 
}

header { 
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 20px; 
    font-size: 55px; 
    background: linear-gradient(to top left, cyan, red); 
    width: 40%; 
    opacity: .8; 
    margin-left: 30%; 
    border-radius: 5px; 
    border-color: black; 
    border-style: solid; 
}

.timer { 
    font-size: 65px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-weight: bolder; 
    background: linear-gradient(to top left, cyan, red); 
}

.quiz-holder { 
    background-color: lightcoral; 
    border-radius: 10px; 
    box-shadow: 0 0 10px 2px darkcyan(100, 100, 100, 0.1); 
    width: 600px; 
    overflow: hidden; 
}
.quiz-header { 
    padding: 3.67rem;
}

.choice-container:hover {
    background-color: rgba(1, 2, 2, 0.459);
    color: whitesmoke;
    cursor: pointer;
}

.choice-text {
    padding-left: 30px;
    padding-top: 10px;
    width: 100%;
}

h3 { 
    padding: .89rem; 
    text-align: center; 
    margin: 0; 
}

ul { 
    list-style-type: none; 
    padding: 0; 
}

ul li { 
    font: 1.42rem; 
    margin: 1rem 0; 
}

ul li label {
    cursor: pointer; 
}

button {
    background-color: lightcoral;
    color: white; 
    border: none; 
    display: block;
    width: 100%;
    cursor: pointer; 
    font-size: 1.1rem; 
    font-family: inherit; 
    padding: 1.42rem; 
}
button:hover { 
    background-color: darkcyan;
}
button:focus { 
    outline: none; 
    background-color: rosybrown; 
}

@media screen and (max-width: 1000px) { 
    header { 
        padding: 0 0 10px 0; 
        justify-content: center; 
        text-align: center; 
    }
}